.headerWrapper {
  position: relative;
  padding: 40px;
}

.backButton {
  position: absolute;
  left: 20px;
  top: 30px;

  display: flex;
  align-items: center;
  gap: 6px;

  padding: 18px 22px;
  font-size: 14px;
  font-weight: 500;

  color: #1b5886;
  background: #ffff;
  border-radius: 10px;
  border: none;

  cursor: pointer;
  transition: all 0.2s ease;
}

.backButton:hover {
  background: #d0e7fb;
  color: #0d3b66;
  transform: translateX(-2px);
}

.headerTitle {
  text-align: center;
  font-size: 5rem;
  margin: 150px auto 50px auto;
  text-shadow: 
    -1px -1px 0 #fff,  
     7px -1px 0 #fff,
    -1px  7px 0 #fff,
     7px  7px 0 #fff;
}

.contentBox {
  width: 850px;
  height: 500px;
  margin: 50px auto 50px auto;

  background: white;
  border-radius: 25px;
  padding: 30px;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-items: center;
}

.stepCard {
  width: 200px;
  height: 210px;

  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
  padding: 10px;
  background: white;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.stepCard:hover {
  transform: scale(1.05);
}

.stepNumber {
  position: absolute;
  top: -10px;
  left: -10px;

  background: #1e5ed7;
  color: white;
  font-size: 16px;
  font-weight: bold;

  width: 25px;
  height: 25px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.stepImage {
  width: 90px;
  height: 100px;
  margin-bottom: 8px;
}

.stepText {
  font-size: 13px;
  text-align: center;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
