
.headerWrapper {
  position: relative;
  padding: 40px;
}

.backButton {
  position: absolute;
  left: 20px;
  top: 30px;

  display: flex;
  align-items: center;
  gap: 6px;

  padding: 12px 18px;
  font-size: 14px;
  font-weight: 500;

  color: #1b5886;
  background: #ffffff;
  border-radius: 10px;
  border: none;

  cursor: pointer;
  transition: all 0.25s ease;
}

.backButton:hover {
  background: #d0e7fb;
  color: #0d3b66;
  transform: translateX(-2px);
}

.headerTitle {
  text-align: center;
  font-size: 4rem;
  margin: 120px auto 40px auto;
  color: #2f3e46;

  text-shadow:
    -1px -1px 0 #fff,
    7px -1px 0 #fff,
    -1px 7px 0 #fff,
    7px 7px 0 #fff;
}

.contentBox {
  width: 720px;
  margin: 0 auto 50px auto;

  background: #ffffff;
  border-radius: 25px;
  padding: 30px;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.card {
  background: #f9fbff;
  border-radius: 18px;
  padding: 18px;

  text-align: center;

  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);

  transition: all 0.3s ease;
  animation: fadeIn 0.5s ease;
}

.card:hover {
  transform: translateY(-6px) scale(1.02);
}

.icon {
  font-size: 2rem;
  margin-bottom: 8px;
}

.card h3 {
  font-size: 16px;
  font-weight: 900;
  margin-bottom: 8px;
  color: #1b5886;
}

.card p {
  font-size: 13px;
  font-weight: 600;
  line-height: 1.5;
  color: #333;
}

.list {
  text-align: left;
  padding-left: 18px;
  margin-top: 5px;
}

.list li {
  list-style: none;
  position: relative;
  padding-left: 14px;
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 13px;
  color: #333;
}

.list li::before {
  content: "•";
  position: absolute;
  left: 0;
  color: #1b5886;
  font-weight: bold;
}

.card:nth-child(1) {
  background: #e3f2fd;
}

.card:nth-child(2) {
  background: #e8f5e9;
}

.card:nth-child(3) {
  background: #fff3e0;
}

.card:nth-child(4) {
  background: #ede7f6;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}